# Environment variables (secrets)
.env*

# Composer dependencies
/vendor/

# Logs & cache
*.log
/cache/

# db connection file test
test_db.php

# Python virtual environment (pytest)
test/venv/


# Pytest cache
test/.pytest_cache/

# Python cache
__pycache__/
*.pyc